body{
    background-color: black;
}
div{
    background-color: white;
    width: 380px;
}
img{
    width: 380px;

    

}
.container{
    margin:0 auto;
}

i {
    font-style: italic;
}
.fa-ellipsis-v:before {
    content: "\f142";
    margin-left: -10px;
    margin-top: -10px;
    position: absolute;
}